@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/* font-family: 'Permanent Marker', cursive; */
*{
    padding: 0;
    margin: 0;
}
/* --- /
.time_mode {
    display: flex;
    position: fixed;
    top: 13vh;
    right: 4vh;
    z-index: 1000;
}
.time_mode button{
    border: none;
    height: 4vh;
    width: 7vh;
    border-radius: 15px;
    box-shadow: 0 0 6px;

    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.time_mode button i{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
/* --- */
.goUp{
    display: flex;
    position: fixed;
    bottom: 2vh;
    right: 4vh;
}
.goUp a{
    background-color: rgb(199, 186, 186);
    color: rgb(29, 29, 29);
    text-decoration: none;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    box-shadow: 0 0 6px rgb(0, 0, 0);

    display: flex;
    align-items: center;
    justify-content:center;

}
.goUp a img{
    width: 100%;
    height: auto;
}
/* ---Navegacion--- *//*-------------------------------------------------------------------------------------------*/
.nav_bar_line{
    width: 100%;
    height: 9vh;
    position: fixed;
    z-index: 1000;

    background: linear-gradient(100deg, rgb(104, 48, 136) 25%, rgb(243, 9, 9) 50%, rgb(104, 48, 136) 75%);
    background-repeat: repeat;
    animation: gradient 5s linear infinite;
}
@keyframes gradient {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: -80rem 0;
    }
    100%{
        background-position: 0 0;
    }
}
.nav_bar{
    width: 100%;
    height: 8.5vh;
    background-color: rgb(48, 48, 48);
    font-family: 'Permanent Marker', cursive;
    /*position: fixed;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*-- Logotipo --*/
.image_logo{
    /*width: 10%;*/
    height: 70px;
    width: auto;
    background-color: rgb(20, 20, 20);
    padding: 2px;
    border-radius: 50%;
    margin-right: 10px;
    /*background-color: blueviolet;*/
}
.image_logo img{
    height: 100%;
    width: auto;
}
/*-- Redes Sociales --*/
.social_media_nav{
    /*width: 20%;*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: blueviolet;*/
    margin-right: 10px;
    background-color: rgb(34, 34, 34);
    padding: 6px 4px;
    border-radius: 20px;
}
.social_media_nav a{
    margin: 0 1vh;
    height: 40px;
    width: auto;
    /*border: 2px solid #fff;
    border-style: dashed;*/
    border-radius: 50%;
    transition: .5s;
}
.social_media_nav a:hover{
    box-shadow: 0 0 8px rgb(211, 66, 66);
}
.social_media_nav a img{
    height: 100%;
}
/*-- Navegacion --*/
.cont_btn_nav{
    width: 80%;
    text-align: center;
    /*position: fixed;*/
    display: flex;
    align-items: center;
    /*justify-content: center;
    /*background-color: blueviolet;*/

}
.cont_btn_nav a{
    text-decoration: none;
    color: white;
    margin: 0 .2vh;
    padding: .5vh 1.8vh;
}
.cont_btn_nav .btn_nav{
    color: white;
    font-size: 2vh;
    border-radius: 20px;
    transition: .5s ;
    
}
    /* ---Linea--- */
/*.cont_btn_nav .btn_nav::after{
    display: block;
    content: "";
    margin: auto;
    width: 0;
    height: 3px;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s;
}*/
    /* ---Rolover--- */
/*.cont_btn_nav .btn_nav:hover::after{
    width: 100%;
    background-color: rgb(242, 13, 13);
}*/
.cont_btn_nav .btn_nav:hover{
    text-shadow: 0px 0px 5px  rgb(242, 13, 13);
    background-color: rgb(34, 34, 34);
}
.active{
    text-shadow: 0px 0px 5px  rgb(242, 13, 13);
    background-color: rgb(34, 34, 34);
}
/* ---------------- */
/* ---------------- *//*-------------------------------------------------------------------------------------------*/
body{
    min-height: 100vh;
    background-image: url(resources/media/image/john-towner-JgOeRuGD_Y4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* ---------------- */
/* ----Portada---- *//*-------------------------------------------------------------------------------------------*/
.space{
    height: 11vh;
}
.space_card_top{
    margin-top: 15px;
    min-height: 100vh;
    min-height: 87.5vh;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center; 
}
.card{
    max-height: 350px;
    min-width: 400px;
    max-width: 600px;
    width: 500px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
    
}
.card img{
    min-height: 25vh;
    height: 45vh;
    object-fit: cover;
    border-radius: 5px;
    transition: transform .5s;
}
.card:hover img{
    transform: scale(1.2);
    z-index: 50;
}
.card-body{
    z-index: 60;
    background-color: white;
    margin-top: 1px;
}
/* --------------- */
/* ----Contenido---- *//*-------------------------------------------------------------------------------------------*/ 
.contenedor_home{
    background-color: rgb(201, 154, 154);
    height: 90vh;
    border-top: 4px solid rgba(0, 0, 0, 0.623);
}
/* ----------------- */
/* ---Footer--- */
footer{
    background-color: rgba(12, 12, 12, 0.616);
    color: aliceblue;
    height: 4vh;
    text-align: center;
}
.footer_text{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: .5vh;
}
.footer_text p{

}
/* ------------ */
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------
::-webkit-scrollbar {
	width: 12px;
	background-color: #171717
}
::-webkit-scrollbar-track {
	background: #131313;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #343434;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #686868;
}
*/