@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/* font-family: 'Permanent Marker', cursive; */

*{
    padding: 0;
    margin: 0;
}
:root {
    scroll-behavior: smooth;
}
/* ---Navegacion--- *//*-------------------------------------------------------------------------------------------*/
.hamburger{
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
    z-index: 200;
}
.menu_navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(45deg, #333838e8 0%, #ae8b9ce8 100%);
    backdrop-filter: blur(0.5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0,0,0,.5);
    z-index: 210;
}
.spread{
    transform: translate(0);
}
.menu_navegacion a{
    text-decoration: none;
    color: white;
}
/* --- /
.time_mode {
    display: flex;
    position: fixed;
    top: 13vh;
    right: 4vh;
    z-index: 1000;
}
.time_mode button{
    border: none;
    height: 4vh;
    width: 7vh;
    border-radius: 15px;
    box-shadow: 0 0 6px;

    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.time_mode button i{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
/* --- */
.goUp{
    display: flex;
    position: fixed;
    bottom: 2vh;
    right: 4vh;
    z-index: 90;
}
.goUp a{
    background-color: rgb(199, 186, 186);
    color: rgb(29, 29, 29);
    text-decoration: none;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    box-shadow: 0 0 6px rgb(0, 0, 0);

    display: flex;
    align-items: center;
    justify-content:center;

}
.goUp a img{
    width: 100%;
    height: auto;
}
/* ---Navegacion--- *//*-------------------------------------------------------------------------------------------*/
.nav_bar_line{
    width: 100%;
    height: 9vh;
    position: fixed;
    z-index: 1000;

    background: linear-gradient(100deg, rgb(136, 48, 48) 25%, rgb(243, 9, 9) 50%, rgb(136, 48, 48) 75%);
    background-repeat: repeat;
    animation: gradient 5s linear infinite;
}
@keyframes gradient {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: -80rem 0;
    }
    100%{
        background-position: 0 0;
    }
}
.nav_bar{
    width: 100%;
    height: 8.5vh;
    background-color: rgb(48, 48, 48);
    font-family: 'Permanent Marker', cursive;
    /*position: fixed;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/*-- Logotipo --*/
.image_logo{
    /*width: 10%;*/
    height: 65px;
    width: auto;
    background-color: rgb(20, 20, 20);
    padding: 2px;
    border-radius: 50%;
    margin-right: 10px;
    /*background-color: blueviolet;*/
}
.image_logo img{
    height: 100%;
    width: auto;
}
/*-- Redes Sociales --*/
.social_media_nav{
    /*width: 20%;*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: blueviolet;*/
    margin-right: 10px;
    background-color: rgb(34, 34, 34);
    padding: 6px 4px;
    border-radius: 20px;
}
.social_media_nav a{
    margin: 0 1vh;
    height: 40px;
    width: auto;
    /*border: 2px solid #fff;
    border-style: dashed;*/
    border-radius: 50%;
    transition: .5s;
}
.social_media_nav a:hover{
    box-shadow: 0 0 8px rgb(211, 66, 66);
}
.social_media_nav a img{
    height: 100%;
}
/*-- Navegacion --*/
.cont_btn_nav{
    width: 80%;
    text-align: center;
    /*position: fixed;*/
    display: flex;
    align-items: center;
    /*justify-content: center;
    /*background-color: blueviolet;*/

}
.cont_btn_nav a{
    text-decoration: none;
    color: white;
    margin: 0 .2vh;
    padding: .5vh 1.8vh;
}
.cont_btn_nav .btn_nav{
    color: white;
    font-size: 2vh;
    border-radius: 20px;
    transition: .5s ;
    
}
    /* ---Linea--- */
/*.cont_btn_nav .btn_nav::after{
    display: block;
    content: "";
    margin: auto;
    width: 0;
    height: 3px;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s;
}*/
    /* ---Rolover--- */
/*.cont_btn_nav .btn_nav:hover::after{
    width: 100%;
    background-color: rgb(242, 13, 13);
}*/
.cont_btn_nav .btn_nav:hover{
    text-shadow: 0px 0px 5px  rgb(242, 13, 13);
    background-color: rgb(34, 34, 34);
}
.active{
    text-shadow: 0px 0px 5px  rgb(242, 13, 13);
    background-color: rgb(34, 34, 34);
}
/* ---------------- */
/* ---------------- *//*-------------------------------------------------------------------------------------------*/
body{
    min-height: 100vh;
    background-image: url(resources/media/image/screem/benjamin-voros-phIFdC6lA4E-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Poppins',sans-serif;
}
/* ---------------- */
/* ----Portada---- *//*-------------------------------------------------------------------------------------------*/
.space{
    height: 8vh;
}
.space_card_top{
    /*margin-top: 15px;*/
    /*min-height: 100vh;*/
    min-height: 75vh;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(145, 93, 93, 0.884);
    backdrop-filter: blur(0.5rem);
}/*
.card{
    max-height: 350px;
    min-width: 400px;
    max-width: 600px;
    width: 500px;
    margin: 25px 20px;
    overflow: hidden;
    
}
.card img{
    min-height: 25vh;
    height: 45vh;
    object-fit: cover;
    border-radius: 5px;
    transition: transform .5s;
}
.card:hover img{
    transform: scale(1.2);
    z-index: 50;
}
.card-body{
    z-index: 60;
    background-color: white;
    margin-top: 1px;
}*/
.card_redir{
    text-decoration: none;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    /*padding: 20px;*/
    grid-gap: 40px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    
}
.cardP{
    background-color: #201b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);

    width: 450px;
    margin: 25px 20px;
    transition: transform .3s;
}
.cardP:hover{
    transform: scale(1.1);
}
.container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
    border-radius: 20px;
}
.container img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
    /*transition: transform .5s;*/
}/*
.container img:hover{
    transform: scale(1.2);
}*/
.container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}
.card1>.container:after{
    background-image: linear-gradient(
        135deg,
        #0100ec50,
        #fb36f450
    );
}
.card2>.container:after{
    background-image: linear-gradient(
        135deg,
        #2bdce350,
        #42ffdb50
    );
}
.card3>.container:after{
    background-image: linear-gradient(
        135deg,
        #ffab1d50,
        #f84f1c50
    );
}
.details{
    padding: 20px 10px;
    min-height: 105px;
}
.details>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}
.details button{
    background-color: #f0e6e6;
    margin: 10px 0 0 15px;
    padding: 8px 12px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}
.details button:hover{
    background-color: #ffbcbc;
}
/* --------------- */
/* ----Contenido---- *//*-------------------------------------------------------------------------------------------*/ 
.contenedor_home{
    /*border-top: 4px solid rgba(0, 0, 0, 0.623);*/
    color: aliceblue;
    min-height: 60vh;
}
.about_me{
    background-color: rgb(110, 62, 62);
    padding-top: 7vw;
    margin: 0 400px;
    border-radius: 20px;
    margin-top: 10vw;
}
.about_me h2{
    text-align: center;
    color: rgb(240, 185, 185);
}
.text_home_1{
    padding: 0 110px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 20px;
}
/*----- mi foto -----*/
.img_cont_me{
    /*height: 530px;*/
    overflow: hidden;
    display: flex;
    position: absolute;

    top: 10rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    background-color: rgba(255, 240, 240, 0.562);
    /*backdrop-filter: blur(0.5rem);*/
}
.img_cont_me img{
    border-radius: 50%;
    object-fit: cover;
    align-items: center;
    height: 210px;
    width: 210px;
    /*
    min-width: 300px;
    min-height: 300px;
    max-width: 800px;
    max-height: 800px;*/
}
/* ----------------- */
/* ----------------- */
.Contact_Us{
    height: 60vh;
}
/* ----------------- */
/* ---Footer--- *//*-------------------------------------------------------------------------------------------*/
footer{
    background-color: rgba(12, 12, 12, 0.616);
    color: aliceblue;
    height: 4vh;
    text-align: center;
}
.footer_text{
    align-items: center;
    /*display: flex;
    justify-content: space-evenly;
    align-items: center;*/
}
.footer_text p{
    padding-top: .5vh;
}
/* ------------ */
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------
::-webkit-scrollbar {
	width: 12px;
	background-color: #171717
}
::-webkit-scrollbar-track {
	background: #131313;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #343434;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #686868;
}
*/