@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/* font-family: 'Permanent Marker', cursive; */

*{
    padding: 0;
    margin: 0;
}
:root {
    scroll-behavior: smooth;
}
/*-----------------------------------------------------------------------------------------------------------------*/
/* ---Navegacion--- cl *//*-------------------------------------------------------------------------------------------*/
.phone-mode{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
}
.hamburger{
    position: absolute;
    /*right: 2rem;*/
    background-color: white;
    width: 0;
    height: 4rem;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
    
    background-image: url('../resource/media/icons/menu-alt-right-regular-24.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    /*overflow: hidden;*/
    transition: height .3s linear;
    z-index: 910;
}
.menu_navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(45deg, #333838e8 0%, #ae8b9ce8 100%);
    backdrop-filter: blur(0.5rem);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0,0,0,.5);
    z-index: 920;
}
.spread{
    transform: translate(0);
}

.menu_navegacion a{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    padding: 5rem 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.menu_navegacion a img{
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
}
/*----------*/
/*--NAV PC--*/
.navegator{
    width: 100%;
    height: 7rem;
}
.margon-rgb{
    position: fixed;
    width: 100%;
    height: 7rem;
    box-shadow: 0 0 10px #000000;
    background: linear-gradient(100deg, rgb(136, 48, 48) 25%, rgb(243, 181, 9) 50%, rgb(136, 48, 48) 75%);
    background-repeat: repeat;
    animation: gradient 5s linear infinite;
    z-index: 450;
}
@keyframes gradient {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: -110rem 0;
    }
    100%{
        background-position: 0 0;
    }
}
.nav-bar{
    width: 100%;
    height: 6.7rem;
    background-color: #1b1b1b;

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
}
.nav-bar .logo{
    width: 20%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-bar .logo a img{
    width: 5rem;
    height: 5rem;
    background-color: #141414;
    border-radius: 50%;
}
.nav-bar .pc-mode{
    width: 70%;
    height: 100%;

    display: flex;
    align-items: center;
}
.nav-bar .pc-mode .nav-link{
    margin-left: 2rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.nav-bar .pc-mode .nav-link a{
    text-decoration: none;
}
.nav-bar .pc-mode .nav-link a .link-past{
    height: 4rem;
    padding: 0 1rem;
    margin: 0 .5rem;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}
.link-pg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 .5rem;
}
.container-exagon .hexagonArea{
    display: flex;
}
.colorDec{
    width: 100%;
    height: 100%;
    background-color: #585252;
}
.border-exagon{
    display: flex;
    justify-items: center;
    align-items: center;
    
    width: 4rem;
    height: 4.5rem;
}
.exagon{
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.exagon img{
    width: 2.5rem;
    height: 2.5rem;
    transition: .2s;
}
.link-pg:hover .btn-nav img{
    transform: scale(1.2);
}
.link-pg:hover .btn-nav{
    background-color: #e05656;
}
.nm{
    width: 0;
    height: 2rem;
    background-color: #490852d0;
    
    display: flex;
    align-items: center;
    
    transform: scale(0);
    transition: all .1s .3s;

}
.link-pg:hover .nm{
    width: 4rem;
    padding: .1rem .4rem;
    transform: scale(1);
    transition: all .2s;
    
}
.text-lk{
    width: 0;
    color: transparent;
    text-decoration: none;
    transition: all .2s;
    font-size: 1rem;
}
.link-pg:hover .nm .text-lk{
    width: 100%;
    color: #ffffff;
}
/*--------RESPONSIVE MODE NAV--------*/
@media screen and (max-width:600px){
    .hamburger{
        width: 3.5rem;
    }
    .nav-link{
        transform: scale(0);
    }
    .nav-bar .logo{
        width: 50%;
        justify-content: flex-start;
        margin-left: 5%;
    }
    .nav-bar .pc-mode{
        width: 0%;
    }
    .nav-bar .phone-mode{
        width: 50%;
        justify-content: flex-end;
    }
    .hamburger{
        margin-right: 10%;
    }
    .nav-bar .logo a img{
        width: 4.8rem;
        height: 4.8rem;
    }
    .menu_navegacion{
        width: 80%;
    }
}
@media screen and (max-width:390px){
    .menu_navegacion a{
        font-size: 1.5rem;
        padding: 2rem 2rem;
    }
}
@media screen and (max-width:300){
    .menu_navegacion{
        width: 80%;
    }
    .menu_navegacion a img{
        width: 1rem;
        height: 1rem;
    }
}
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/